h1 {
	color:red;
	font-size: 70px;
	text-align:center;
}
body {
color: black;
}
body {
  background-color: rgba(139, 0, 0, 0.478);
 
  }

.ca{
	border : 3px groove purple;
	background-color: powderblue;
}